.blocks {
  margin : 50px 10px;
  display : flex;
  justify-content: space-around;
}

.block {
  width: 100px;
  height : 100px;
  display : flex;
  justify-content: center;
  align-items: center;
  font-size: 36px;
  font-weight: bold;
}
.block:before { content: '?'; }

.block.winner {
  border: 5px solid green;
  content: 'X';
}
.block.winner:before { content: 'WIN'; }
.block.wrong {
  border: 5px solid red;
}
.block.wrong:before { content: 'X'; }

.announcement {
  text-align: center;
  font-size: 30px;
}
.announcement.halt { color: orange; }
.announcement.won  { color: green; }
.announcement.lost { color: red; }
